apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: solvejobs.kubesolv.io
spec:
  scope: Namespaced
  group: kubesolv.io
  names:
    kind: SolveJob
    plural: solvejobs
    singular: solvejob
    shortNames:
    - solvejobs
    - solvejob
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            required: [ "solver", "state" ]
            properties:
              solver:
                type: string
              state:
                type: string
          status:
            type: object
            properties:
              solution:
                type: string
              status:
                type: string
                enum:
                - Pending
                - InProgress
                - Completed
                - Failed
                default: Pending
              message:
                type: string
              startedAt:
                type: string
                format: date-time
              completedAt:
                type: string
                format: date-time
